<div class="container-new">
 <p>
   <div style="padding: 10px; margin-bottom: 10px; border: 1px solid #333333; border-radius: 10px;">
   <%= question.title %>
   <br>
   <%= question.content %>
   </div>
 </p>


</div>
