<%= form_with model: @lecture, local: true do |form| %>
  <div class="field">
    <p>【タイトル】</p>
    <%= form.text_field :title ,:size=>"80x1"%>
  </div>
  <div class="field">
    <p>【内容】</p>
    <%= form.text_area :content ,:size=>"80x20" %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
