@import "bootstrap";
nav {
  font-size: 1.5rem
}
.movie_title {
  font-size: 1.3rem
}

.pagination {
  justify-content: center;
}

.container-login {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

// 「ログインしました」などのフラッシュ用スタイル

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}
